.atom-row {
  height: 20em;
  width: 20em;
  border: 1px solid black;
  display: table-cell;
}
#bohr-model-container {
}
#bohr-model-container-2 {
}
.bohr-atomic-symbol,
.bohr-element-name {
  font-family: 'Futura', Arial, sans-serif;
}
.element-table {
  display: table;
}
.element-table-row {
  display: table-row;
}
