.atom-row {
  height: 20em;
  width: 20em;
  display: table-cell;
}
.bohr-electron {
}
.bohr-atomic-symbol,
.bohr-element-name {
  font-family: 'Futura', Arial, sans-serif;
}
.element-table {
  margin: auto;
  display: table;
}
.element-table-row {
  display: table-row;
}
