/* Required for Bohr Model*/
.bohr-svg-container {
    display: inline-block;
    position: relative;
    height: 100%
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.bohr-svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
}
.bohr-atomic-symbol {
  font-family: 'Futura', Arial, sans-serif;
}
